.unapproved{
  height:10px;
  width:10px;
  background-color: yellow;
}
.approve{
  height:10px;
  width:10px;
  background-color: green;
}
.decline{
  height:10px;
  width:10px;
  background-color: red;
}

.homePage {
  background-image: url('../../assets/Ticketswap-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;

  .homePage-tiles{
    display:flex;
    flex-wrap: wrap;
    width:100%;

    .homePage-tiles__Content{
      width:33%;
      min-height:200px;
      display:flex;
      align-items: center;
      justify-content: center;
    }
  }
}