.unapproved{
  height:10px;
  width:10px;
  background-color: yellow;
}
.approve{
  height:10px;
  width:10px;
  background-color: green;
}
.decline{
  height:10px;
  width:10px;
  background-color: red;
}

.homePage {
  background-image: url('../../assets/Ticketswap-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}